@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~bootstrap/dist/css/bootstrap.min.css";
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(67,87,153);
  background: radial-gradient(circle, rgba(67,87,153,1) 0%, rgba(20,25,83,1) 0%, rgba(20,25,83,1) 24%, rgba(16,16,46,1) 43%, rgba(14,11,24,1) 100%);
}
.min-vh-100 {
  height: calc(100vh - var(--vh-offset, 0px));
}

@media (max-width: 767.98px) {
  .min-vh-100 {
    height: 100%;
  }

  :root {
    --vh-offset: 80px;
  }
}

@media (min-width: 768px) {
  :root {
    --vh-offset: 56px;
  }
}

@media (min-width: 992px) {
  :root {
    --vh-offset: 64px;
  }
}

